[Desktop Entry]
Version=1.0
Type=Application
Name=App Evaluar
Comment=Arrancar Cuaderno del Tutor
Exec=/home/danito73/Documentos/APP_EVALUAR/start_app.sh
Icon=utilities-terminal
Path=/home/danito73/Documentos/APP_EVALUAR
Terminal=true
Categories=Education;Development;
