[Desktop Entry]
Name=Cuaderno del Tutor
Comment=Aplicación para la gestión y evaluación del alumnado
Exec=/opt/cuaderno-del-tutor/CuadernoDelTutor
Icon=/usr/share/pixmaps/cuaderno-del-tutor.png
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
