[Desktop Entry]
Version=1.0
Type=Application
Name=Cuaderno del Tutor
Comment=Gestión docente - APP_EVALUAR
Exec=bash /home/danito73/Documentos/APP_EVALUAR/cuadernodeltutor.sh
Icon=accessories-text-editor
Terminal=false
Categories=Education;
StartupNotify=true
